{% include base_path %}

<div class="about-with-photos">
  <div class="about-with-photos__row">
    <div class="about-with-photos__text">
      <p>Hey! Welcome to my website! My name is Ameya, and I am currently pursuing my MS degree in <strong>Robotics Engineering</strong> at <strong>Worcester Polyechnic Institute (WPI)</strong>. My work spans various aspects of robotics- from navigation, to path planning, to perception, with a strong focus on designing 3D Computer Vision solutions.</p>
    </div>
    <div class="about-with-photos__thumb">
      <img src="{{ '/images/about-aside-1.jpg' | relative_url }}" alt="" loading="lazy">
    </div>
  </div>

  <div class="about-with-photos__row">
    <div class="about-with-photos__text">
      <p>I have been passionate about working on autonomous systems since my freshman year in undergrad, where I led a team of students to design an autonomous Formula SAE car. Working on every aspect of the vehicle, from designing the self-driving pipeline to working on integration aspects like drive-by-wire systems and CAN, motivated me to want to take a deeper dive into these systems.</p>
    </div>
    <div class="about-with-photos__thumb">
      <img src="{{ '/images/about-aside-2.jpg' | relative_url }}" alt="" loading="lazy">
    </div>
  </div>

  <div class="about-with-photos__row">
    <div class="about-with-photos__text">
      <p>I have also had the chance to work with some great companies. I spent my Fall 2025 semester working as a full-time Perception Co-op at <a href="https://www.symbotic.com/">Symbotic</a>, where I worked on LiDAR-based Collision Avoidance systems for mobile robots in warehouse environments. Prior to Symbotic, I spent my summer at <a href="https://dekaresearch">DEKA Research</a> working as a Computer Vision Intern on the design of an imaging system for medical devices.</p>
    </div>
    <div class="about-with-photos__thumb">
      <img src="{{ '/images/about-aside-3.jpg' | relative_url }}" alt="" loading="lazy">
    </div>
  </div>
</div>
