{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% assign teaser = post.teaser_image | default: post.header.teaser %}

<div class="feature__item--left">
  <div class="archive__item">
    {% if teaser %}
      <div class="archive__item-teaser">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">
          <img
            src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}"
            alt="{{ post.title | strip_html | escape }}"
            loading="lazy">
        </a>
      </div>
    {% else %}
      <div class="archive__item-teaser project-list__placeholder" aria-hidden="true"></div>
    {% endif %}

    <div class="archive__item-body">
      <h2 class="archive__item-title" itemprop="headline">
        {% if post.link %}
          <a href="{{ post.link }}">{{ title }}</a>
        {% else %}
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        {% endif %}
      </h2>
      {% if post.excerpt and post.excerpt != post.content %}
        <div class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</div>
      {% endif %}
    </div>
  </div>
</div>
